@import "tailwindcss";

body,
.index-header {
  background: linear-gradient(-45deg, #000, #111, #000);
}

.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust as needed */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
p {
  font-family: "Playfair", serif;
}

[x-cloak] {
  display: none !important;
}

.nav-link {
  @apply relative rounded-md border border-transparent px-4 py-2 text-sm font-semibold transition-all duration-300 ease-in-out before:absolute before:-bottom-1 before:left-0 before:h-[2px] before:w-full before:scale-x-0 before:bg-black before:transition-transform before:duration-300 hover:translate-x-[2px] hover:border-white hover:before:scale-x-100 active:scale-95 active:bg-gray-100;
}

.mobile-nav-link {
  @apply relative -mx-3 block rounded-md border border-transparent px-4 py-2 text-base/7 font-semibold transition-all duration-300 ease-in-out before:absolute before:-bottom-1 before:left-0 before:h-[2px] before:w-full before:scale-x-0 before:bg-black before:transition-transform before:duration-300 hover:translate-x-[2px] hover:border-white hover:before:scale-x-100 active:scale-95 active:bg-gray-100;
}

/* Fundraisers default border */
.nav-link.fundraisers-active {
  @apply border-white;
}

/* Calendar container */
.flatpickr-calendar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #10101000 !important;
  border-radius: 0.5rem; /* Rounded corners */
  padding-bottom: 2px !important;
  box-shadow: rgba(241, 231, 231, 0) 0px 4px 15px !important; /* Shadow effect */
}

/* Style day cells */
.flatpickr-day {
  color: white !important; /* Ensure text color applies */
}

/* Hover effect on day cells */
.flatpickr-day:hover {
  background-color: rgb(44, 48, 44) !important; /* Green background on hover */
  color: white !important; /* Ensure text color on hover */
}

/* Style selected day cell */
.flatpickr-day.selected {
  background-color: #171616 !important; /* Blue background for selected day */
  color: white !important; /* White text on selected day */
}

/* Month header style */
.flatpickr-month {
  color: white !important; /* White text for month header */
  font-weight: bold !important;
}

/* Weekday header style */
.flatpickr-weekday {
  font-weight: bold !important;
  color: rgba(255, 255, 255, 0.7) !important; /* Lighter color */
}

/* Add a border around the days for better visibility */
.flatpickr-day {
  border-radius: 0.25rem !important;
  margin: 2px !important;
}
